<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Grid draw test</title>
  <script type="text/javascript" src="../../Model/Point.js"></script>
  <script type="text/javascript" src="../../Model/Direction.js"></script>
  <script type="text/javascript" src="../../Model/MainGrid.js"></script>
  <script type="text/javascript" src="../../Model/Snake.js"></script>

  <script type="text/javascript" src="../Render/DrawingUtils.js"></script>
  <script type="text/javascript" src="../Skin/Skin.js"></script>
  <script type="text/javascript" src="../Render/SquareType.js"></script>
  <script type="text/javascript" src="../Render/GridDraw.js"></script>

  <script type="text/javascript">
    window.onload = function () {
      var grid = new snakeNS.MainGrid(10, 10);

      var Point = snakeNS.Point;
      var Direction = window.snakeNS.Direction;

      var snake = new snakeNS.Snake(new Point(2, 9), [new Point(1, 9), new Point(0, 9)], Direction.right);

      var workingCanvas = document.getElementById('workingCanvas');
      snakeNS.drawingUtils.setCanvasSizeFromStyles(workingCanvas);
      grid.drawSnake(workingCanvas.getContext('2d'), snake, workingCanvas.width, workingCanvas.height);

      var step = 0;

      function doStep () {
        if (step === 6) {
          snake.changeDirection(Direction.up);
        } else if (step === 14) {
          snake.changeDirection(Direction.left);
        } else if (step === 22) {
          snake.changeDirection(Direction.down);
        } else if (step === 27) {
          snake.changeDirection(Direction.right);
        } else if (step === 34) {
          snake.changeDirection(Direction.left);
        } else if (step === 38) {
          snake.changeDirection(Direction.up);
          snake.addNewHead(grid);
        } else if (step === 41) {
          snake.changeDirection(Direction.down);
        }

        snake.move(grid);
        grid.drawSnake(workingCanvas.getContext('2d'), snake, workingCanvas.width, workingCanvas.height);
        if (step++ < 45) {
          window.setTimeout(doStep, 250);
        }
      }

      doStep();
    };
  </script>
</head>
<body>
  <canvas id="workingCanvas" style="width: 500px; height: 500px; border-width: 2px; border-color: gray; border-style: solid; margin-left: auto; margin-right: auto; text-align: center;"></canvas>
</body>
</html>