<html>
<head>
    <script type="text/javascript" src="Skin/Skin.js"></script>
    <!--script type="text/javascript" src="Skin/Additional/Skin.js"></script-->
	<script type="text/javascript">
		window.onload = function(){
			var canv = document.getElementById("myCanvas");
			var context = canv.getContext("2d");
			console.dir(context);
            window.snakeNS.skinProvider.drawSnakeSquare(context);

			var Man = function(name, age){
				this.Name = 'From this';

				return {Name: 'From return'};
			};

			var pet = new Man('name', 14);
			// alert(pet.Name);

			var str = '123456';
			str[0] = 's';
			document.title = str;

			var testArr = [1,2,3,4,5,3,3,NaN];
			var resArr = testArr.map(function(v,i){return v - i;});
			console.log(testArr);
			console.log(resArr);

			var newArr = testArr.filter(function(v, i){
				var res = v > i;
				return res;
			});

			console.log(newArr);

			var allValid = newArr.every(function(x,i){return x > i});
			console.log(allValid);

			Array.prototype.replace = function(valuePredicat, newValue){
				var arr = this;
				arr.forEach(function(val, i){
					if(valuePredicat(val)){
						arr.splice(i, 1, newValue);
					};
				});
			};

			var arStr = ['one', 'two', 'three', 'four', 'five'];

			arStr.replace(function(val){
				return val.indexOf('t') > -1;
			}, 'Word with "t" KILLED here');

			console.log(arStr);

		}
	</script>
</head>
<body>
	<canvas id="myCanvas" width="400px" height="400px"></canvas>
</body>
</html>